body {
    font-family: avenir;
    margin: 20;
    padding: none;
}

.html_editor, .html_editor * {
    font-family: "sans-serif;", "Menlo", "Ubuntu Mono", "Droid Sans Mono", "Consolas", monospace !important; font-size: 12px !important; font-weight: 400 !important; letter-spacing: 0 !important;
}

th, td {
  text-align:left;
  border: 1px solid #dddddd;
  padding: 3px 5px;
}

.clearfix {
    clear: both;
}

.hidden {
    display: none;
}
