/* Spectre.css v0.5.8 | MIT License | github.com/picturepan2/spectre */
@import url('https://unpkg.com/spectre.css/dist/spectre.min.css');
@import url('https://unpkg.com/spectre.css/dist/spectre-icons.min.css');

/* IDE LAYOUT */
html,
body
{
  height: 100vh;
}

.webchuckPanels
{
  height: 100%;
}

.ide
{
  background-color: #def;
}

.ide.dark
{
  background-color: #1f1f1f;
  color: #def;
}

.canvas
{
  background: white;
}

.canvas.dark
{
  filter: invert(100%);
}

.p5Canvas.dark
{
  filter: invert(100%);
}

.ace_editor.dark
{
  filter: invert(90%);
}

.ide,
.main-panel
{
  height: 100%;
  display: flex;
  flex-flow: column;
}

.main-editor,
.panel
{
  flex: 1 1 auto;
}

/* NAV BAR */
.logo
{
  line-height: 1;
  padding: 0 0.4rem;
  margin: 0 0.1rem 0 0;
}

/* CHUCK BAR */
.chuck-nav
{
  background-color: bisque;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.chuck-nav.dark
{
  background-color: #2f2f2f;
}

.chuck-vm
{
  display: flex;
  align-items: center;
  overflow: hidden;
}

.vm-button
{
  margin: auto;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chuckButton
{
  padding: 0 0.4rem;
  width: 3rem;
  vertical-align: middle;
  transition-duration: 0.3s;
}

.chuckButton:hover:enabled
{
  -webkit-filter: invert(20%);
  filter: invert(20%);
}

.chuckButton:focus
{
  outline: none;
}

.chuckButton:disabled
{
  color: #999;
  cursor: not-allowed;
  opacity: 0.5;
}

/* EDITOR CSS + Panels */
#drop_zone
{
  height: 100%;
  width: 100%;
  border-radius: 2px;
  text-align: center;
  padding: 0.4rem;
  font-size: 1.2rem;
  color: #999;
}

#file-explorer-title
{
  font-weight: bold;
  padding: 0.6rem 0.4rem;
  border-bottom: .1rem solid #dadee4;
}

#editor
{
  height: 100%;
  width: 100%;
}

#shreds
{
  height: 10vh;
  width: 100%;
  overflow: auto;
}

#shredstable
{
  border: none;
  border-style: hidden;
  border-collapse: collapse;
}

td .chuckButton
{
  width: 2rem;
}

.console
{
  background-color: white;
  color: black;
}

.console.dark
{
  background-color: black;
  color: #ddd;
}

#console
{
  width: 100%;
  height: 100%;
  display: block;
  font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
  border-radius: 4px;
  padding: 0.4rem;
  border: none;
  resize: none;
}

#canvas
{
  width: 100%;
  height: 100%;
  display: block;
  border: none;
  resize: none;
  max-height: 42vh;
  min-height: 42vh;
}

#p5
{
  width: 100%;
  height: 100%;
  display: block;
  border: none;
  resize: none;
  position: fixed;
  bottom: 2px;
}

/* More examples breadcrumb navigation */
#example-breadcrumb
{
  padding: 0 0.8rem;
}

.breadcrumb .breadcrumb-item button
{
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.breadcrumb .breadcrumb-item:not(:last-child) button
{
  color: #66758c;
}

.breadcrumb .breadcrumb-item:not(:last-child):hover button
{
  color: #5755d9;
  text-decoration: underline;
  cursor: pointer;
}

.breadcrumb .breadcrumb-item:last-child button
{
  color: #5755d9;
  pointer-events: none;
}

/* More examples modal */
#example-folder
{
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  text-align: left;
  height: 100%;
}

#more-examples .modal-container
{
  max-width: 960px;
  overflow: none;
}

.modal-container.dark
{
  background-color: #333;
  color: #eee;
}

.modal-container.dark .modal-header
{
  color: #eee;
}

#example-browser
{
  height: 30vh;
  overflow: none;
}

/* Examples preview window */
#example-preview
{
  height: 25vh;
}

.modal-container.dark pre code
{
  filter: invert(90%);
}

pre
{
  margin: 0;
}

pre code
{
  font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
  background: #eee;
  color: #333;
  border: 1px solid #999;
  display: block;
  padding: 0;
  border: 0;
  overflow: auto;
}

/* ---------------------------------- */
.clearfix
{
  clear: both;
}

.hidden
{
  display: none;
}

.zero-pad
{
  padding: 0 !important;
  overflow: hidden;
}

a:visited
{
  color: #5755d9;
}

/* ------------- MOBILE ------------- */
@media (max-width: 600px)
{
  html,
  body 
  {
    height: 170vh;
  }

  #filePanel
  {
    max-height: 20vh;
  }
  #editorPanel
  {
    max-height: 60vh;
  }
  #consolePanel
  {
    max-height: 70vh;
  }
  
}