/* Spectre.css v0.5.8 | MIT License | github.com/picturepan2/spectre */
@import url('https://unpkg.com/spectre.css/dist/spectre.min.css');
@import url('https://unpkg.com/spectre.css/dist/spectre-icons.min.css');

/* IDE LAYOUT */
html, body 
{
  height: 100%;
}

.ide 
{
  /* color */
  background-color: lightblue;
}

.ide,
.editor-panel
{
  height: 100%;
  display: flex;
  flex-flow:column;
}

.editor,
.panel
{
  flex: 1 1 auto;
}

.zero-pad
{
  padding: 0; 
}

.logo 
{
  line-height: 1;
  padding: 0 0.4rem;
  margin: 0 0.1rem 0 0;
}

.chuck-nav
{
  padding: 0.4rem;
  background-color: bisque;
}

.chuck-vm
{
  display: flex;
  align-items: center;
}

.vm-button
{
  margin: auto;
  width: 100%;
}

.chuckButton 
{
  padding: 0 0.4rem;
  vertical-align: middle;
  transition-duration: 0.3s;
}

.chuckButton.disabled
{
  color: #999;
  cursor: not-allowed;
}


.chuckButton:hover
{
  -webkit-filter: invert(20%);
}


/* ---------------------------------- */

th, td 
{
  text-align:left;
  border: 1px solid #dddddd;
  padding: 3px 5px;
}

.clearfix 
{
    clear: both;
}

.hidden 
{
    display: none;
}

