/* Spectre.css v0.5.8 | MIT License | github.com/picturepan2/spectre */
@import url('https://unpkg.com/spectre.css/dist/spectre.min.css');
@import url('https://unpkg.com/spectre.css/dist/spectre-icons.min.css');

/* IDE LAYOUT */
html,
body
{
  height: 100vh;
}

.ide
{
  background-color: #def;
}

.ide.dark
{
  background-color: #1f1f1f;
  color: #def;
}

.ace_editor.dark
{
  filter: invert(90%);
}

.ide,
.main-panel
{
  height: 100%;
  display: flex;
  flex-flow: column;
}

.main-editor,
.panel
{
  flex: 1 1 auto;
}

.logo
{
  line-height: 1;
  padding: 0 0.4rem;
  margin: 0 0.1rem 0 0;
}

.menu-item {
  padding: 0 !important;
}

/* CHUCK NAVIGATION */
.chuck-nav
{
  background-color: bisque;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.chuck-nav.dark
{
  background-color: #2f2f2f;
}

.chuck-vm
{
  display: flex;
  align-items: center;
}

.vm-button
{
  margin: auto;
  width: 100%;
}

.chuckButton
{
  padding: 0 0.4rem;
  width: 3rem;
  vertical-align: middle;
  transition-duration: 0.3s;
}

.chuckButton:hover:enabled
{
  -webkit-filter: invert(20%);
  filter: invert(20%);
}

.chuckButton:focus
{
  outline: none;
}

.chuckButton:disabled
{
  color: #999;
  cursor: not-allowed;
  opacity: 0.5;
}

/* EDITOR CSS + Panels */
#drop_zone
{
  height: 100%;
  width: 100%;
  border-radius: 4px;
  text-align: center;
  padding: 0.4rem;
  font-size: 1.2rem;
  color: #999;
}

#file-explorer-title
{
  font-weight: bold;
  padding: 0.6rem 0.4rem;
  border-bottom: .1rem solid #dadee4;
}

#editor
{
  height: 100%;
  width: 100%;
}

#shreds 

{
  height: 10vh;
  width: 100%;
  overflow: auto;
}

#shredstable
{
  border: none;
  border-style: hidden;
  border-collapse: collapse;
}

td .chuckButton

{
  width: 2rem;
}

#console
{
  width: 100%;
  height: 100%;
  background-color: #1f1f1f;
  display: block;
  color: #ddd;
  font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
  border-radius: 4px;
  padding: 0.4rem;
  border: none;
  resize: none;
}

#p5, #canvas{
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 4px;
  border: none;
  resize: none;
  max-height: 42vh;
  min-height: 42vh;
  position:fixed;
  bottom:2px;
}

/* ---------------------------------- */
.clearfix
{
  clear: both;
}

.hidden
{
  display: none;
}

.zero-pad
{
  padding: 0 !important;
  overflow: hidden;
}
